<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="Peaberry 1.0 Target Platform">

   <location path="${project_loc}/platform"/>

   <content>
      <plugins>
         <plugin id="aopalliance"/>
         <plugin id="com.google.inject"/>
         <plugin id="org.eclipse.osgi"/>
         <plugin id="org.ops4j.peaberry"/>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="${eclipse_home}"/>
      </extraLocations>
   </content>

</target>
